.Product-card{
    display: flex;
    background-color: white;
    flex-direction: row;
    margin: 5%;
    padding: 5%;
}

.Product-Img{
 margin-left: 5%;
}

.Product-Img img{
    width: 200px;
}

.Product-Details{
    flex: 0.7;
    margin-left: 10%;
}

#Product-description{
    word-wrap: break-word;
    margin-top: 5%;
    margin-bottom: 5%;
}

#Product-price{
    color: black;
    font-weight: 600;
}

.cart-alert {
    color:orangered;
    margin-top: 10px;
    width: 30%;
    padding: 5px;
  }

  .Product-Details button{
    margin-top: 5%;
    border: none;
    color: white;
    padding-left:5%;
    padding-right:5%;
    border-radius: 25px;
    background-color: black;
  }
  