.nav_container {
    background-color: black;
    padding: 20px;
    justify-content: space-evenly;
    display :flex;
    color:white;
    width: 100%; 
  }
  
  .nav_logo{
    font-family: 'Seaweed Script', cursive;
    font-weight: 700;
    font-size: 20px;
    color: white;
  }
  
  .nav_items{
    display: flex;
    gap: 25px;
  }
  
  #text{
    color: white;
  }
  .nav_btn{
    display: flex;
    gap: 50px;
  }
  
  .login{
    border: solid rgb(65, 179, 84) 2px;
    padding: 5px 15px;
    border-radius: 25px;
    color: white;
  }
  
  .signup{
    color:white
  }
  
   .login:hover {
    border:none;
    color: rgb(65, 179, 84);
    background-color: white;
  }
  
  .nav_container a{
    text-decoration: none;
  }
  
  