.nav_container {
    background-color: black;
    padding: 20px;
    justify-content: space-evenly;
    display :flex;
    width: 100%; 

  }
  
  .nav_logo{
    font-family: 'Seaweed Script', cursive;
    font-weight: 700;
    font-size: 20px;
    color: white;
  }
  
  .nav_items{
    display: flex;
    gap:25px;
  }
  
  
  .nav_btn{
    display: flex;
    gap:25px;
  }
  
.nav_items div,
.nav_btn div {
    color: white;
}

  @media screen and (max-width: 600px) {
    .nav_items{
      display: flex;
      gap: 5px;
      font-size:small;
    }

    .nav_container {
      max-width: 100%;
    }
     
    .nav_logo,
    .nav_items div,
.nav_btn div {
   font-size: smaller
}
  }
  
  